<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div>
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">All Players</h4>
                    </div>
                  <div class="col-4">
                    <a href="/players" class="btn btn-success float-rigth"><i class="fa fa-lus mr-1"></i>Add Player</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
      <div class="mt-5">
        <table id="table" class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Player #</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Points</th>
              <th scope="col">Rebounds</th>
              <th scope="col">Steals</th>
              <th scope="col">Assist</th>
              <th scope="col">Blocks</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% if(players.length > 0){ %> <% for(let player of players) { %>
            <tr>
              <th scope="row"><%= player.playerNumber %></th>
              <td><%= player.firstName %></td>
              <td><%= player.lastName %></td>
              <td>
                <form
                  class="pointer"
                  action="/players/deletePoint/<%= player.id %>?_method=PUT"
                  method="POST">                
                  <button  class="btn btn-secondary" type="submit">-</button>
                </form>
                <%= player.points %><form
                  class="pointer"
                  action="/players/addPoint/<%= player.id %>?_method=PUT"
                  method="POST"
                ><button
                  class="btn btn-secondary"
                  type="submit"
                >+</button>
                </form>
              </td>
              <td>
                <form
                  class="pointer"
                  action="/players/deleteRebound/<%= player.id %>?_method=PUT"
                  method="POST">                   
                <button class="btn btn-secondary" type="submit">-</button>
                </form>
                <%= player.rebounds %><form
                  class="pointer"
                  action="/players/addRebound/<%= player.id %>?_method=PUT"
                  method="POST"><button  class="btn btn-secondary" type="submit">
                  +
                </button>
                </form>
              </td>
              <td>
                <form
                  class="pointer"
                  action="/players/deleteSteal/<%= player.id %>?_method=PUT"
                  method="POST">                   
                <button  class="btn btn-secondary" type="submit">-</button>
               </form>
                <%= player.steals %><form
                  class="pointer"
                  action="/players/addSteal/<%= player.id %>?_method=PUT"
                  method="POST"><button  class="btn btn-secondary" type="submit">
                  +
                </button>
                </form>
              </td>
              <td>
                 <form
                  class="pointer"
                  action="/players/deleteAssist/<%= player.id %>?_method=PUT"
                  method="POST">                   
                <button  class="btn btn-secondary" type="submit">-</button>
               </form>
                <%= player.assists %><form
                  class="pointer"
                  action="/players/addAssist/<%= player.id %>?_method=PUT"
                  method="POST"><button  class="btn btn-secondary" type="submit">
                  +
                </button>
                </form>
              </td>
               <td>
                 <form
                  class="pointer"
                  action="/players/deleteBlock/<%= player.id %>?_method=PUT"
                  method="POST">                   
                <button  class="btn btn-secondary" type="submit">-</button>
               </form>
                <%= player.blocks %><form
                  class="pointer"
                  action="/players/addBlock/<%= player.id %>?_method=PUT"
                  method="POST"><button  class="btn btn-secondary" type="submit">
                  +
                </button>
                </form>
              </td>
              <td>
                 <a
                href="/updatePlayer/<%= player._id %>"
                class="btn btn-sm btn-warning"
                ><i class="fa fa-edit"></i
              ></a>
              </td>
              <td>
                <form
                    action="/players/deletePlayer/<%= player.id %>?_method=DELETE"
                    method="POST"
                    class="col-3"
                >
                <button
                class="btn btn-sm btn-danger"
                ><i class="fa fa-trash" type="submit"></i                
              ></button>
                </form>
              </td>
              
            </tr>
           
            <% } %> <% } else { %>
            <tr>
              <td>No data found</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>